/* * {
  margin: 0;
  padding: 0;
} */
/* .div-rl {
  width: 99.9%;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  height: 650px;
} */

/* .right-div {
  background-image: url("../assets/edited\ futurelook.jpg");
  background-size: cover;
  width: 50%;
  background-repeat: no-repeat;
 } */

/* .left-div {
  width: 50%;
  background-color: #f3e9e7;
 }

 ul{
  margin-top: 26px;
 } */

/* .hero-text{
  margin-top: 60px;
  margin-left: 30px;
  text-align: left;
  
}

.hero-text p{
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: gray;
} */
/* 
.hero-text h4{
  font-size: 2em;
}

button{
margin-top: 10px;
width: 30%;
padding: 15px 15px;
border-radius: 50px;
margin-left: 30px;
background-color: inherit;
cursor: pointer;
} */