/* .right-div ul {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 14%;
  text-shadow: 1px 1px white;
}

.left-div ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
} */
